/***************************/
/* GENERAL */

body {
  background-color: #F7F3E6; /*linen-white*/
}

.App {
  background-color: #F7F3E6; /*linen-white*/
}

.text {
  font-family: monospace;
  text-align: center;
  line-height: 1.6;
  color: #3A445D; /*charcoal blue*/
}

/***************************/
/* CARD */

.card {
  position: relative;
  float: left;
  width: 200px;
  height: 200px;
  margin: 10px;
  border-width: 1px;
  border-style: dashed;
}

.card h3 {
  font-size: 17px;
  font-family: 'Dosis';
  letter-spacing: 0.15em;
  text-decoration: underline;
}

.card .text {
  font-size: 12px;
  padding: 5px 10px;
}

.workcard {
  border-color: #CE2F59; /*brick-red*/
}

.workcard h3 {
  color: #CE2F59; /*brick-red*/
}

.projectcard {
  border-color: #87A0B2 /*whale-value*/
}