/***************************/
/* GENERAL */

body {
  margin: 0px;
  background-color: #F7F3E6; /*linen-white*/
}

.App {
  background-color: #F7F3E6; /*linen-white*/
}

.text {
  font-family: monospace;
  text-align: center;
  line-height: 1.6;
  color: #3A445D; /*charcoal blue*/
}

/***************************/
/* PALETTE */

.brickredborder {
  border-color: #CE2F59;
}

.whaleblueborder {
  border-color: #87A0B2;
}

.charcoalborder {
  border-color: #3a445d;
}

.brickredfill {
  background-color: #CE2F59;
}

.whalebluefill {
  background-color: #87A0B2;
}

.charcoalfill {
  background-color: #3a445d;
}

/***************************/
/* BOOKMARK */

#bookmark {
    width: 350px;
    position: fixed;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-right: 2px dashed #3a445d;
    color: #3a445d;
    text-align: center;
}

#bookmark h1 {
    font-size: 42px;
    font-family: 'Dosis', monospace;
    letter-spacing: 0.1em;
}

#bookmark p {
    font-size: 13px;
    font-family: monospace;
    line-height: 1.6;
}

#bookmark .align-left {
    text-align: left;
    margin-left: 15px;
}

.bookmark-section {
    border-bottom: 2px dashed #3a445d;
}

#contact {
  text-align: left;
}

/* inverse-highlighting */
span {
    color: #F7F3E6;
    background-color: #3a445d;
}

.align-label-left {
    float: left;
    margin-left: 0px;
}

a {
    color: #3A445D;
    text-decoration: none;
    cursor: pointer;
    /*text-align: left;*/
}

a:visited {
    color: #3A445D;
}

a:hover {
    color: #87a0b2;
    text-decoration: underline;
}

/***************************/
/* BOARD + FILTER + CHECKBOX */

#board {
    float: right;
    width: calc(100% - 355px);
}

#filterbar {
	display: flex;
	flex-wrap: wrap;
	margin: -10px 20px 10px 15px;
	border: 2px dashed #3a445d;
	border-top: none;
  background-color: inherit;
	max-width: 900px;
  align-items: center;
}

#filterbar p {
	display: inline;
	margin-left: 15px;
	font-family: monospace;
	letter-spacing: 0.2em;
	font-size: 13px;
}

.checkbox {
  display: flex;
  align-items: center;
	flex-grow: 1;
  position: relative;
  height: 50px;
	max-width: 120px;
  padding-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

/* hide original */
input[type=checkbox] {
  visibility: hidden;
}

/* custom checkbox */
.checkbox label {
	position: absolute;
	left: 5px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	border-width: 1px;
	border-style: dashed;
}

/***************************/
/* CARD */

.card-container {
  margin-top: 0px;
  margin-left: 5px;
  max-width: 1000px;
}

.card {
  position: relative;
  float: left;
  width: 200px;
  height: 200px;
  margin: 10px;
  border-width: 1px;
  border-style: dashed;
}

.card h3 {
  font-size: 17px;
  font-family: 'Dosis';
  letter-spacing: 0.15em;
  text-decoration: underline;
}

.card .text {
  font-size: 12px;
  margin: 0px 10px;
  margin-top: 40px;
}

.card button {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  padding: 0px;
  margin: 10px 10px 0px 10px;
  border: inherit;
  border-radius: 25%;
  z-index: 1000; /* NOTE: makes sure it displays on top */
  background-color: inherit;
  cursor: pointer;
}

.card button p {
  margin: 0px;
  font-size: 12px;
  text-align: center;
  line-height: 25px;
}

/* NOTE: only project cards have buttons */
.project .invert-button-style {
  color: #F7F3E6;
  background-color: #87A0B2;
}

/* WORK CARDS */

.work {
  border-color: #CE2F59;
}

.work h3 {
  color: #CE2F59;
}

/* PROJECT CARD */

.project {
  border-color: #87A0B2
}

.project .finetext {
  font-size: 10px;
}

/***************************/
/* SCREEN-SIZE ADJUSTMENTS */

/*
*   USAGE: change card display from grid to hamburger 
*/
@media (max-width: 815px) {
  #bookmark {
    float: none;
    position: relative;
    width: auto;
    margin: 20px 45px;
    border-left: 2px dashed #3A445D;
    border-top: 2px dashed #3A445D;
  }

  .bookmark-section {
    padding: 10px 50px 10px 50px;
  }

  #filterbar {
    width: auto;
    border-top: 2px dashed #3A445D;
    margin: 0px 0px 10px 0px;
  }

  .checkbox {
    padding-top: 5px;
  }

  #board {
    float: none;
    position: relative;
    width: auto;
    margin: 10px 45px;
  }
}

/*
*   USAGE: set cards to full width
*/
@media (max-width: 680px) {
  #board {
    width: auto;
    margin-bottom: 45px;
  }

  .card-container {
    margin: 0px;
  }

  .card {
    width: 100%;
    height: 170px;
    margin: 0px;
    margin-top: 10px;
  }
}

/*
*   USAGE: mobile revamp; reduce overall font-size, expand all
*/
@media (max-width: 510px) {
  
  #bookmark {
    margin: 15px;
  }

  #bookmark h1 {
    font-size: 40px;
  }

  #bookmark p {
    font-size: 11px;
  }

  .bookmark-section {
    padding: 15px;
  }

  #filterbar p {
    font-size: 11px;
  }

  #board {
    margin: 10px 30px;
  }

  .card h3 {
    font-size: 15px;
  }

  .card .text {
    font-size: 11px;
  }

  .card button p {
    font-size: 10px;
  }

  .project .finetext {
    font-size: 9px;
  }

}